# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MiniBob.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Work\Documents\Personal Game Development\Unity3D\MiniBob\MiniBob\.idea\.idea.MiniBob\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
